# Archivos grandes
*.zip
v6.zip
V6.zip

# Archivos de video
*.mov
*.mp4
*.avi
*.mkv
*.wmv
*.flv
*.webm
assets/video/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de logs
*.log
LOGS/

# Archivos temporales
*.tmp
*.temp

# Documentos personales
*.docx
*.pdf
*.tex
*.latex
bot json private key/
